<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fast -->
      <package
            uri="http://fr.ubo.fast"
            class="fr.ubo.fast.FastPackage"
            genModel="model/fast.genmodel"/>
   </extension>

</plugin>
